<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/assets/material.red-orange.min.css">
    <script defer src="/assets/material.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/assets/flv.min.js"></script>
    <script src="/assets/hls.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="mp4">
        <p>mp4 via http <a href="/mp4/test.mp4">test.mp4</a></p>
        <video id="mp4" autoplay>
            <source src="/mp4/test.mp4" type="video/mp4">
        </video>
    </div>
    <div class="flv">
        <p>flv.js via http <a href="/mp4/test.mp4">test.mp4</a></p>
        <video id="flv"></video>
    </div>
    <div class="hls">
        <p>hls.js via http <a href="/hls/test.m3u8">test.m3u8</a></p>
        <video id="hls"></video>

    </div>
    <div class="mjpeg">
        <p>mjpeg via http <a href="/mjpeg/test.mjpg">test.mjpg</a></p>
        <img id="mjpeg" src="/mjpeg/test.mjpg"/>
    </div>
    <div class="jpeg">
        <p>jpeg via socket.io</p>
        <img id="jpeg"/>
    </div>
    <div class="mse">
        <p>mse via socket.io</p>
        <video id="mse"></video>
    </div>
    <div class="params">
        <textarea readonly><%= params %></textarea>
    </div>
    <div class="form">
        <form method="POST" action="/">
            <input name="action" type="submit" value="Exit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            <input name="action" type="submit" value="Stop" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        </form>
    </div>
</div>
<script>
    if (flvjs.isSupported()) {
        var videoElement = document.getElementById('flv');
        var flvPlayer = flvjs.createPlayer({
            type: 'mp4',
            url: '/mp4/test.mp4',
            isLive: true
        });
        flvPlayer.attachMediaElement(videoElement);
        flvPlayer.load();
        flvPlayer.play();
    }
</script>
<script>
    if (Hls.isSupported()) {
        var video = document.getElementById('hls');
        var hls = new Hls();
        hls.loadSource('/hls/test.m3u8');
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED, function () {
            video.play();
        });
    }
    // hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
    // When the browser has built-in HLS support (check using `canPlayType`), we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video element throught the `src` property.
    // This is using the built-in support of the plain video element, without using hls.js.
    else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = '/hls/test.m3u8';
        video.addEventListener('canplay', function () {
            video.play();
        });
    }
</script>
<!--<iframe id="progressTxt" src="/progress/test.txt"></iframe>-->
<!--<iframe id="m3u8Txt" src="/hls/test.m3u8.txt"></iframe>-->
<!--<script>
    /*var progressTxtIframe = document.getElementById('progressTxt');
    var m3u8TxtIframe = document.getElementById('m3u8Txt');
    window.setInterval(()=> {
        progressTxtIframe.contentWindow.location.reload();
        m3u8TxtIframe.contentWindow.location.reload();
    }, 2000);*/
</script>-->
<script>
    var socket = io.connect(`${location.origin}/jpeg`, {transports: ['websocket'], forceNew: false, reconnection: true, reconnectionDelay: 500});
    var jpeg = document.getElementById('jpeg');
    socket.on('jpeg', function(data){
        var arrayBufferView = new Uint8Array(data);
        var blob = new Blob([arrayBufferView], {type: 'image/jpeg'});
        var urlCreator = window.URL || window.webkitURL;
        var imageUrl = urlCreator.createObjectURL(blob);
        jpeg.src = imageUrl;
    });
    socket.on('close', ()=>{
        console.log('received close event');
    });
    socket.on('disconnect', ()=>{
        console.log('received disconnect event');
    });
</script>
<script src="/javascripts/player.min.js"></script>
<script>
    var msePlayer = new VideoPlayer({video: document.getElementById('mse'), io: io, namespace: 'mse', controls: ''}).start();
</script>
</body>
</html>