<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title><%= title %></title>

    <link rel="stylesheet" href="/mdi/material-icons.css"/>
    <link rel="stylesheet" href="/mdl/material.deep_orange-blue.min.css"/>

    <style>

        body {
            background: lightgrey;
        }

        .mdl-cell {
            background: black;
            color: white;
        }

        .mdl-cell > span {
            display: block;
            max-height: 240px;
            width: 100%;
            overflow: auto;
            padding: 5px;
        }

        .mdl-cell.player {
            text-align: center;
        }

        .mdl-cell.data {
            display: flex;
            align-items: center;
            text-align: left;
            padding: 5px;
        }

        .form {
            background: none;
            text-align: center;
        }

        .mdl-card__media {
            margin: 0;
            background: none;
            height: 100%;
        }

        .mdl-card__media > img, .mdl-card__media > video {
            width: 100%;
            margin: 0;
            padding: 0;
            background: black;
        }

        .mdl-card__supporting-text {
            color: white;
        }

    </style>

    <script src="/assets/hls.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/player.js"></script>
    <script defer src="/mdl/material.min.js"></script>

</head>
<body>

<div class="content-grid mdl-grid">

    <div class="player mdl-card mdl-shadow--8dp mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <figure class="mdl-card__media">
            <img id="mjpegImg" validate="always"/>
        </figure>
        <div class="mdl-card__supporting-text">
            mjpeg src: <a href="/mjpeg/test.mjpg">test.mjpg</a>
        </div>
    </div>

    <div class="player mdl-card mdl-shadow--8dp mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <figure class="mdl-card__media">
            <video id="mp4Video" muted></video>
        </figure>
        <div class="mdl-card__supporting-text">
            progressive mp4 src: <a href="/mp4/test.mp4">test.mp4</a>
        </div>
    </div>

    <div class="player mdl-card mdl-shadow--8dp mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <figure class="mdl-card__media">
            <video id="hlsjsVideo" muted></video>
        </figure>
        <div class="mdl-card__supporting-text">
            hls.js src: <a href="/hls/test.m3u8">test.m3u8</a>
        </div>
    </div>

    <div class="player mdl-card mdl-shadow--8dp mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <figure class="mdl-card__media">
            <img id="jpegImg"/>
        </figure>
        <div class="mdl-card__supporting-text">
            jpeg via socket.io
        </div>
    </div>

    <div class="player mdl-card mdl-shadow--8dp mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <figure class="mdl-card__media">
            <video id="hlsVideo" muted playsinline></video>
        </figure>
        <div class="mdl-card__supporting-text">
            native hls src: <a href="/hls/test.m3u8">test.m3u8</a>
        </div>
    </div>

    <div class="player mdl-card mdl-shadow--8dp mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <figure class="mdl-card__media">
            <video id="mseVideo" muted></video>
        </figure>
        <div class="mdl-card__supporting-text">
            mse via socket.io
        </div>
    </div>

    <div class="data mdl-shadow--8dp mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <span id="stderr">ffmpeg stderr...</span>
    </div>

    <div class="data mdl-shadow--8dp mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <span id="progress">ffmpeg progress...</span>
    </div>

    <div class="data mdl-shadow--8dp mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <span id="m3u8">m3u8 playlist...</span>
    </div>

    <div class="data mdl-shadow--8dp mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <span id="mime">codec info...</span>
    </div>

    <div class="data mdl-shadow--8dp mdl-cell mdl-cell--8-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <span><%= params %></span>
    </div>

    <div class="mdl-cell mdl-cell--12-col form">
        <form method="POST" action="/">
            <button name="action" type="submit" value="Exit"
                    class="mdl-shadow--8dp mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <i
                        class="material-icons">clear</i></button>
            <button name="action" type="submit" value="Stop"
                    class="mdl-shadow--8dp mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <i
                        class="material-icons">undo</i></button>
        </form>
    </div>

</div>

<script src="/javascripts/video.js"></script>

</body>
</html>
