<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/material.red-orange.min.css">
    <script defer src="/material.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/flv.min.js"></script>
    <script src="/hls.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="mp4">
        <p>progressive mp4</p>
        <video id="mp4" autoplay>
            <source src="/mp4/test.mp4" type="video/mp4">
        </video>
    </div>
    <div class="flv">
        <p>flv.js</p>
        <video id="flv.js"></video>
        <script>
            if (flvjs.isSupported()) {
                var videoElement = document.getElementById('flv.js');
                var flvPlayer = flvjs.createPlayer({
                    type: 'mp4',
                    url: '/mp4/test.mp4',
                    isLive: true
                });
                flvPlayer.attachMediaElement(videoElement);
                flvPlayer.load();
                flvPlayer.play();
            }
        </script>
    </div>
    <div class="hls">
        <p>hls.js</p>
        <video id="hls.js"></video>
        <script>
            if (Hls.isSupported()) {
                var video = document.getElementById('hls.js');
                var hls = new Hls();
                hls.loadSource('/hls/test.m3u8');
                hls.attachMedia(video);
                hls.on(Hls.Events.MANIFEST_PARSED, function () {
                    video.play();
                });
            }
            // hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
            // When the browser has built-in HLS support (check using `canPlayType`), we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video element throught the `src` property.
            // This is using the built-in support of the plain video element, without using hls.js.
            else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                video.src = '/hls/test.m3u8';
                video.addEventListener('canplay', function () {
                    video.play();
                });
            }
        </script>
    </div>
    <div class="mjpeg">
        <p>mjpeg</p>
        <img id="mjpeg" src="/mjpeg/test.mjpg"/>
    </div>
    <div class="base64">base64 jpeg</div>
    <div class="mse">mse.js</div>
    <div class="params">
        <textarea readonly><%= params %></textarea>
    </div>
    <div class="form">
        <form method="POST" action="/">
            <input name="action" type="submit" value="Exit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            <input name="action" type="submit" value="Stop" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        </form>
    </div>
</div>
</body>
</html>