body {
    margin: 0;
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

video, img {
    width: 100%;
    max-width: 320px;
    margin: 0;
    padding: 0;
}

div {
    float: left;
    border: solid black 1px;
    padding: 2px;
    margin: 1px;
}

h1, h6 {
    text-align: center;
}

a {
  color: #00B7FF;
}

label {
    width: 150px;
    font-size: larger;
}

input {
    height: 30px;
    font-size: larger;
}

input[value="Start"] {
    width: 100px;
    height: 50px;
}

input[value="Stop"] {
    width: 100px;
    height: 50px;
}

input[value="Exit"] {
    width: 100px;
    height: 50px;
}

input[type="text"] {
    width: 300px;
}

form#index {
    width: 550px;
    margin: 0 auto;
}

textarea {
    width: 99%;
    min-height: 60px;
    font-size: larger;
    border-style: none;
    border-color: Transparent;
    overflow: auto;
}

.wrapper {
    margin-left: 1vw;
    margin-right: 1vw;
    width: 98vw;
    /*height: 99vh;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-style: none;
}

.wrapper div {
    text-align: center;
}

.params, .form {
    grid-column-start: 1;
    grid-column-end: 4;
}

.form {
    border-style: none;
}

select {
    width: 100%;
}

iframe {
    height: 80%;
    width: 100%;
}