body {
    margin: 0;
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: cornflowerblue;
}

.index {
    margin-left: 1vw;
    margin-right: 1vw;
    width: 98vw;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 2px;
    font-size: small;
}

.index div {
    border: solid darkblue 1px;
    background: lightskyblue;
    text-align: center;
    padding: 2px;
}

.index .header p {
    padding: 0px;
    margin: 0px;
}

.index .header, .index .message, .index .section {
    grid-column-start: 1;
    grid-column-end: 6;
}

.index .message {
    background: yellow;
    color: red;
    border: 1px solid red;
}

.index .section {
    background: #d64161;
    color: aliceblue;
}

.index .label label {
    font-size: larger;
}

.index .input {
    grid-column-start: 2;
    grid-column-end: 6;
}

.index .input select, .index .input input {
    width: 95%;
}

.index .form {
    grid-column-start: 1;
    grid-column-end: 6;
    border-style: none;
    background: none;
    min-width: 500px;
    direction: rtl;
}

.index .form input[value="Start"] {
    width: 200px;
    height: 50px;
}

.index .form input[value="Exit"] {
    width: 200px;
    height: 50px;
}

/* ------ video ------ */

.video {
    margin-left: 1vw;
    margin-right: 1vw;
    width: 98vw;
    display: grid;
    grid-template-rows: 1fr 1fr auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    grid-gap: 2px;
    grid-template-areas: "mjpeg mp4 hlsjs" "jpeg flvjs mse" "params params mime" "stderr progress m3u8" "form form form";
    /*grid-template-areas: "mjpeg mp4 hlsjs hls" "jpeg flvjs mse flash" "params params params mime" "stderr stderr progress m3u8" "form form form form";*/
    font-size: small;
}

.video div {
    border: solid darkblue 1px;
    background: lightskyblue;
    text-align: center;
    padding: 2px;
}

.video div video, .video div img {
    width: 30vw;
    margin: 0;
    padding: 0;
}

.video div a {
    color: #d64161;
}

.video .form {
    grid-area: form;
    border-style: none;
    background: none;
}
.video .form input[value="Stop"] {
    width: 200px;
    height: 50px;
}

.video .form input[value="Exit"] {
    width: 200px;
    height: 50px;
}

.video .mjpeg {
    grid-area: mjpeg;
}

.video .mp4 {
    grid-area: mp4;
}

.video .hlsjs {
    grid-area: hlsjs;
}

.video .hls {
    grid-area: hls;
}

.video .jpeg {
    grid-area: jpeg;
}

.video .flvjs {
    grid-area: flvjs;
}

.video .mse {
    grid-area: mse;
}

.video .flash {
    grid-area: flash;
}

.video .params {
    grid-area: params;
}

.video .mime {
    grid-area: mime;
}

.video .stderr {
    grid-area: stderr;
}

.video .m3u8 {
    grid-area: m3u8;
}

.video .progress {
    grid-area: progress;
}

.video .params, .video .mime, .video .stderr, .video .m3u8, .video .progress {
    display: flex;
    align-items: center;
    padding: 10px;
}

.video .stderr, .video .m3u8, .video .progress {
    overflow: auto;
}

.video span {
    text-align: left;
    max-height: 200px;
}

.video .mime span, .video .stderr span, .video .m3u8 span, .video .progress span {
    white-space: nowrap;
}

/* ------ install ------ */

.install {
    margin-left: 1vw;
    margin-right: 1vw;
    width: 98vw;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-gap: 2px;
    font-size: small;
}

.install div {
    border: solid darkblue 1px;
    background: lightskyblue;
    text-align: center;
    padding: 2px;
}

.install .message {
    background: yellow;
    color: red;
    border: 1px solid red;
}

.install .form {
    border-style: none;
    background: none;
    min-width: 500px;
}

.install .form button[value="Install"] {
    width: 200px;
    height: 50px;
}

.install .form button[value="Exit"] {
    width: 200px;
    height: 50px;
}

.activity {
    margin-left: 1vw;
    margin-right: 1vw;
    width: 98vw;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-gap: 2px;
    font-size: small;
}

.activity div {
    border: solid darkblue 1px;
    background: lightskyblue;
    text-align: center;
    padding: 2px;
}

.activity .message {
    background: yellow;
    color: red;
    border: 1px solid red;
}

.activity .form {
    border-style: none;
    background: none;
    min-width: 500px;
}

.activity .form button[value="Create"] {
    width: 200px;
    height: 50px;
}

.activity .form button[value="Destroy"] {
    width: 200px;
    height: 50px;
}