{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "Chrome >= 52",
          "FireFox >= 44",
          "Safari >= 7",
          "Explorer 10",
          "last 4 Edge versions"
        ]
      }
    }]
  ]
}
